.shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 83px;
    align-items: center;
}
.row1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.pageAdress {
    display: flex;
    align-items: center;
}
.pageAdress img {
    width: 17px;
    height: 17px;
}
.pageAdress img:nth-child(2) {
    width: 13px;
    height: 13px;
    margin-right: 8px;
}
.pageAdress span  {
    color: #7B7B7B;
    font-size: 12px;
    margin-right: 10px;
}
.row1 h4 {
    font-size: 14px;
    color: #787878;
    font-weight: normal;
    -webkit-text-stroke: 0.2px;
}
.row2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.searchBox {
    width: 100%;
    position: relative;
}

.leftSide {
    width: 100%;
    margin-top: 40px;
}
.fiterBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.rigthFilter {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.rigthFilter button {
    border: none;
    background-color: #ffffff00;
    color: #868686;
    cursor: pointer;
    font-size: 11px;

}
.activeFilter {
    color: #0089FF !important;
}

.leftFilter span {
    color: #868686;
}
.productCards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
    gap: 5px;
    margin: 35px 0;

}
.resRightFilter {
    display: none;
    color: #787878;
}
@media (min-width:993px) {
    .row1 { 
        border-top: 1px solid #f0f0f1;
    }
    
}




@media (max-width:1200px) {
    .rigthFilter { 
        width: 65%;
    }
    .rigthFilter button { 
        font-size: 10px;
    }
    .leftFilter span { 
        font-size: 12px;
    }
}
@media (max-width:992px) {
    .shop { 
        padding: 0 15px;
    }
    .row1 {
        padding: 10px 0;
    }
    .pageAdress img {
        width: 13px;
        height: 13px;
    }
    .pageAdress img:nth-child(2) {
        width: 10px;
        height: 10px;
        margin-right: 4px;
    }
    .pageAdress span  {
        color: #7B7B7B;
        font-size: 10px;
        margin-right: 5px;
    }
    .row1 h4 {
        display: none;
    }
    .rigthFilter { 
        display: none;
    }
    .leftSide {
        margin-top: 0;
    }
    .fiterBox {
        height: 40px;
        border-top:1px solid #f0f0f1 ;
        margin:30px 0;
    }
    .resRightFilter {
        display: inline;
        font-size: 12px;
        
    }
    
}
@media (max-width:768px) {
  
    
}
@media (max-width:576px) {
  
    
}
@media (max-width:460px) {
    .productCards {
        width: 100%;
        display: flex;
        gap: 5px 0;
        flex-direction: column;
        align-items: center;
    }
    
}
@media (max-width:400px) {
  
    
}