.cartCard {
    width: 100%;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 8px -1px #ddd;;
    height: 200px;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;
    padding: 21px 15px;
}
.cartCard > img {
    width: 150px;
    height: 150px;
}
.cardLeft {
    width: 76%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

}
.topLeftCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.topLeftCard h4 {
    font-size: 14px;
    font-weight: normal;
    width: 77%;

}
.topLeftCard span {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}
.buttomLeftCard {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.addToCart img {
    width: 15px !important;
    height: 21px;
}
.productButtons {
    width: 30%;
    height: 35px;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.productButtons > button {
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 16%;
    height: 100%;
}
.quantityButtons {
    width: 50%;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 3px;
    margin-left: 15px;
    
}
.quantityButtons button { 
    border: none;
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 100%;
    width: 30%;
}
.quantityButtons button img { 
    width: 11.43px;
 
}
.quantityButtons span { 
    margin: 0;
    font-size: 12px;
    -webkit-text-stroke: none;
    color: #9B9B9B;
}
.unactiveButton {
    opacity: 0.7;
}