.BlogCard {
    width: 290px;
    height: 390px;
    background: #fff;
    box-shadow: 0 0 14px -2px #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 10px 0; */
    padding: 10px;
}
.BlogCard img {
    width: 266px;
    height:174.42px;
    border-radius: 5px;
}
.BlogCard h4 { 
    font-size:14px;
    color:#656262;
    margin-top: 15px;
    width: 100%;
    padding: 0 0 0 5px;
    line-height: 24px;
    text-align: right;
    height: 80px;
    
}
.BlogCard p { 
    font-size: 12px;
    color: #868686;
    text-align: right;
    height: 70px;
}
.postButtons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.readMoreButton {
    width: 81px;
    height: 24px;
    background-color: #B3DCFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-decoration: none;
    color: #0089FF;
}
.readMoreButton img{
    width: 9px;
    height: 6.55px;
    margin-right: 5px;
    
}
.likeContainer {
    width: 47px;
    height: 24px;
    border-radius: 5px;
    background-color: #FBC7C7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F14545;
    font-size: 10px;
    cursor: pointer;
}
.likeContainer svg { 
    margin-right: 5px;
}
.postViews {
    width: 47px;
    height: 24px;
    font-size: 12px;
    background-color: #EBEBEB;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #868686;
    font-size: 10px;
}
.postViews img { 
    width: 14.45px;
    height: 8.55px;
    margin-right: 3px;
}
.dateShared {
    width: 66px;
    height: 24px;
    background-color: #D0F6BE;
    border-radius: 5px;
    color: #7BBB5D;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*Responsive Styles*/

@media (max-width:1360px) {
    .BlogCard {
        width: 260px;
        height: 367px;
    }    
    
    .BlogCard > img { 
        width: 235px;
        height: 157px;
    }
    .BlogCard h4 { 
        font-size: 12px;
    }
    .BlogCard p {
        font-size: 10px;

    } 
    .readMoreButton  { 
        width: 72px;
    }
    .dateShared { 
        width: 60px;
    }
    .likeContainer , .postViews {
        width: 42px;
    }

}
@media (max-width:1200px) { 
    .BlogCard {
        width: 250px;
        height: 330px;
    }    
    .BlogCard > img { 
        width: 232px;
        height: 145px;
    }
    .readMoreButton  { 
        width: 78px;
    }
    .dateShared { 
        width: 64px;
    }
    .likeContainer , .postViews {
        width: 32px;
    }
}
@media (max-width:992px) { 

}
@media (max-width:768px) { 

}
@media (max-width:576px) { 

}
@media (max-width:460px) {

}
@media (max-width:400px) { 


}