@font-face {
  font-family: iranYekan;
  src: url("./fonts/iranyekanwebregular.ttf") format('truetype');
}
@font-face {font-family: "Yekan-Numbers Regular";
  src: 
  url("./fonts/123103d064093ff198b61fa9330b0d8f.eot") format("embedded-opentype"), 
  url("./fonts/123103d064093ff198b61fa9330b0d8f.woff2") format("woff2"), 
  url("./fonts/123103d064093ff198b61fa9330b0d8f.woff2") format("woff"), 
  url("./fonts/123103d064093ff198b61fa9330b0d8f.ttf") format("truetype"), 
  url("./fonts/123103d064093ff198b61fa9330b0d8f.svg#Yekan-Numbers Regular") format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "iranYekan" !important;
}
.activeLike {
  animation: like  0.5s  1 alternate  linear;
  transform-origin: center;
}
.activeLike path{
    stroke: red;
    fill: red;
}
@keyframes like {
  0% {
    width: 19px;
    height: 19px;
  }
  10% {
    /* width: 26px;
    height: 26px; */
    transform: scale(1.4);

  }
  51% {
    /* width: 19px;
    height: 19px; */
    transform: scale(1);
  }
  55% {
    /* width: 26px;
    height: 26px; */
    transform: scale(1.4);

  }
  60% {
    /* width: 26px;
    height: 26px; */
    transform: scale(1.4);

  }
  96% {
    /* width: 19px;
    height: 19px; */
    transform: scale(1);

  }
  100% {
    /* width: 19px;
    height: 19px; */
    transform: scale(1);
  }

}
@media  (max-width:768px) {
  button  , a , div{ 
      cursor: default !important;
  }

}
button:active {
  border: none !important;
  outline: none !important;
}
button:focus {
  border: none !important;
  outline: none !important;
}